table.search-api-date-table-select {
  margin-top: 15px;
}

table.search-api-date-table-select th.search-api-date-select-all {
  width: 1%;
}

table.search-api-date-table-select .form-checkboxes .form-item {
  display: inline;
  margin-right: 15px;
}
